@model HotelMVC.Models.ReservationModels.ReservationIndexViewModel
@{
    ViewData["Title"] = "Listagem de reservas";
}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9">
                <h3 class="">Listagem de reservas</h3>
            </div>
            <div class="col-md-3">
                <a asp-controller="Reservations" asp-action="Store" class="btn btn-success btn-block">Adicionar nova reserva</a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="text-center">
    <table class="table table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Quarto</th>
                <th scope="col">Ocupantes</th>
                <th scope="col">Entrada prevista</th>
                <th scope="col">Saída prevista</th>
                <th scope="col">Status</th>
                <th scope="col">Checks </th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Reservations.Any())
            {
                foreach (HotelMVC.Models.ReservationModels.ReservationsModel reservation in Model.Reservations)
                {
                    <tr>
                        <th scope="row">@reservation.Id</th>
                        <td>@Model.Customers.Find(c => c.Id == reservation.CustomerId).Name</td>
                        <td>@Model.Rooms.Find(r => r.Id == reservation.RoomId).Id</td>
                        <td>@reservation.NumberOfOccupants</td>
                        <td>@reservation.ExpectedEntryDate</td>
                        <td>@reservation.ExpectedDepartureDate</td>
                        <td>@(@reservation.Status == 1 ? "Confirmado" : "Não confirmado")</td>
                        <td>
                            <div class="btn-group" role="group">
                                @if (Model.Checkouts.Find(c => c.ReservationId == reservation.Id) != null)
                                {
                                    <button role="button" disabled class="btn btn-danger">PAY</button>
                                }
                                else if (@reservation.Status == 1 )
                                {
                                    <button role="button" class="btn btn-danger btnEditPayment" data-value="@Model.Payments.Find(p => p.ReservationId == reservation.Id).Id">PAY</button>
                                }
                                else
                                {
                                    <button role="button" class="btn btn-danger btnCreatePayment" data-value="@reservation.Id">PAY</button>
                                }

                                @if (@reservation.Status == 1 && @Model.Checkins.Find(c => c.ReservationId == reservation.Id) == null)
                                {
                                    <button role="button" class="btn btn-primary btnCreateCheckIn" data-value="@reservation.Id">IN</button>
                                }
                                else if (@Model.Checkins.Find(c => c.ReservationId == reservation.Id) != null)
                                {
                                    <button role="button" class="btn btn-primary btnDetailsCheckIn" data-value="@reservation.Id">IN</button>
                                }
                                else
                                {
                                    <button role="button" disabled class="btn btn-primary">IN</button>
                                }

                                @if (@Model.Checkins.Find(c => c.ReservationId == reservation.Id) != null && Model.Checkouts.Find(c => c.ReservationId == reservation.Id) == null)
                                {
                                    <button role="button" class="btn btn-info btnCreateCheckOut" data-value="@reservation.Id">OUT</button>
                                }
                                else if (Model.Checkouts.Find(c => c.ReservationId == reservation.Id) != null)
                                {
                                    <button role="button" class="btn btn-info btnDetailsCheckOut" data-value="@reservation.Id">OUT</button>
                                }
                                else
                                {
                                    <button role="button" disabled class="btn btn-info">OUT</button>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                @if (@reservation.Status == 1 )
                                {
                                    <button role="button" disabled class="btn btn-warning">Editar</button>
                                    <button role="button" disabled class="btn btn-danger">Apagar</button>
                                }
                                else
                                {
                                    <a role="button" asp-route-id="@reservation.Id" asp-controller="Reservations" asp-action="Edit" class="btn btn-warning">Editar</a>
                                    <a role="button" class="btn btn-danger btnDelete" data-value="@reservation.Id">Apagar</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentDelete"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createPaymentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastro de pagamentos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentCreatePayment"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edição de pagamentos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentEditPayment"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCheckinModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Realizar CHECK-IN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentCreateCheckin"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailsCheckinModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes CHECK-IN</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentDetailsCheckin"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Realizar CHECK-OUT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentCreateCheckout"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailsCheckoutModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes CHECK-OUT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalContentDetailsCheckout"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });

            $(".btnDelete").click(function() {
                var id = $(this).data("value");
                $("#modalContentDelete").load("/Reservations/Details/" + id, function() {
                    $("#deleteModal").modal("show");
                });
            });

            $(".btnCreatePayment").click(function() {
                var id = $(this).data("value");
                $("#modalContentCreatePayment").load("/Payments/Store/" + id, function() {
                    $("#createPaymentModal").modal("show");
                });
            });

            $(".btnEditPayment").click(function() {
                var id = $(this).data("value");
                $("#modalContentEditPayment").load("/Payments/Edit/" + id, function() {
                    $("#editPaymentModal").modal("show");
                });
            });

            $(".btnCreateCheckIn").click(function() {
                var id = $(this).data("value");
                $("#modalContentCreateCheckin").load("/Checkins/Store/" + id, function() {
                    $("#createCheckinModal").modal("show");
                });
            });

            $(".btnDetailsCheckIn").click(function() {
                var id = $(this).data("value");
                $("#modalContentDetailsCheckin").load("/Checkins/Index/" + id, function() {
                    $("#detailsCheckinModal").modal("show");
                });
            });

            $(".btnCreateCheckOut").click(function() {
                var id = $(this).data("value");
                $("#modalContentCreateCheckout").load("/Checkouts/Store/" + id, function() {
                    $("#createCheckoutModal").modal("show");
                });
            });

            $(".btnDetailsCheckOut").click(function() {
                var id = $(this).data("value");
                $("#modalContentDetailsCheckout").load("/Checkouts/Index/" + id, function() {
                    $("#detailsCheckoutModal").modal("show");
                });
            });

            btnCreateCheckIn
        });
    </script>
}